<div id="section-cogworks-update" ng-controller="cogFilesUpdateCtrl as cogFileUpdate">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>
                Cog File Update 
                <!-- <a ui-sref="cog-files.active({project: 'all'})" class="btn btn-primary btn-xs pull-right"><i class="fa fa-files-o"></i> Cog Files</a> -->
            </h2>
        </div>
    </div>
    <section-loader-indicator text="Preparing to show file Details" object="cogFileUpdate.details" ng-if="cogFileUpdate.details === undefined || cogFileUpdate.details.error !== undefined"></section-loader-indicator>
    <section-data-empty text="No data retrieved." ng-if="cogFileUpdate.details !== undefined && cogFileUpdate.details === null"></section-data-empty>
    <section-cogworks-files-update></section-cogworks-files-update>
</div>