header{

    background-image: -webkit-linear-gradient(90deg,rgba(187,210,174,1.00) 0%,rgba(147,207,194,1.00) 46.63%);
    background-image: -o-linear-gradient(90deg,rgba(187,210,174,1.00) 0%,rgba(147,207,194,1.00) 46.63%);
    background-image: -moz-linear-gradient(90deg,rgba(187,210,174,1.00) 0%,rgba(147,207,194,1.00) 46.63%);
    background-image: linear-gradient(0deg,rgba(187,210,174,1.00) 0%,rgba(147,207,194,1.00) 46.63%);

    text-align:center;
    padding:60px;
    color:#fff;
    font-size:16px;
    position:relative;
    overflow:hidden;
}

header #logo{
    margin-bottom:20px;
    max-width:100%;
}

header p.lead{
    max-width:500px;
    margin:20px auto;
    font-size:20px;
}

header p.lead strong{
    font-weight:normal;
    color:#fff;
}

section h2{
    max-width:580px;
    margin:0 auto 50px;
    line-height:1.4;
}

header .illustration{
    margin:40px auto -60px;
    text-align:center;
}

header .illustration img{
    margin:0 auto;
}

.centered{
    max-width:800px;
    text-align:center;
}

section{
    margin:80px auto;
}

.features .feature{
    margin-bottom:40px;
}

.features h4{
    font-weight:bold;
}

.features .feature div:last-child{
    margin-top:20px;
}

.feature img{
    border-radius:2px;
}

.the-result{
    text-align:center;
}

.the-result h3{
    max-width:600px;
    margin:0 auto 20px;
    line-height:1.45;
}

.try-section{
    background-color:#095AF5;
    color:#fff;
    padding:40px;
    cursor:pointer;
}

.try-section p{
    max-width:500px;
}

.highlights{
    margin-bottom:60px;
}

.purchase p{
    max-width:470px;
    margin:0 auto 30px;
}

.purchase form{
    max-width:400px;
    margin:40px auto;
    border:2px solid #e4edf3;
    padding:20px 20px 40px;
    border-radius:3px;
    text-align:left;
}

.purchase .form-title{
    margin:-20px -20px 40px;
    padding:16px;
    border-bottom:2px solid #e4edf3;
    font-size:16px;
    font-weight:bold;
}

.item .glyphicon{
    color:#24B524;
    border:1px solid #24B524;
    border-radius:50%;
    padding:8px;
    float:left;
    font-size:18px;
    margin-right:16px;
    margin-bottom:20px;
    margin-top:4px;
}

.item h3{
    margin-bottom:2px;
    font-size:22px;
    font-weight:400;
}

.purchase .item{
    padding-left:30px;
    margin-bottom:30px;
}

.purchase .price{
    font-weight:bold;
    margin-top:20px;
    margin-bottom:30px;
}

.purchase .purchase-button{
    text-align:center;
}

.purchase .purchase-button .btn{
    font-weight:bold;
}

span.text-muted{
    font-weight:normal;
}

.purchase .price span{
    color:#ff0039;
    opacity:0.75;
    font-weight:normal;
}

.bottom-links{
    text-align:right;
}

hr{
    margin-bottom:10px;
}

footer .bottom-links{
    text-align:right;
}

footer hr{
    margin-bottom:10px;
}

.feature.no-bottom-margin{
    margin-bottom:0 !important;
}

footer .footer .text-muted a{
    color:inherit;
}

p.instructions{
    font-size:14px;
    margin-top:30px;
    margin-bottom:0;
}

#highlights-heading{
    margin-top:60px;
    font-size:24px;
    max-width:400px;
}

.testimonials{
    background-color:#3c4752;
}

.testimonials .container{
    color:#fff;
    padding:40px;
}

.testimonials .item h3{
    margin-top:0;
    font-size:16px;
    color:#e3ecf5;
    line-height:1.34;
    clear:both;
}

.testimonials .item p{
    margin-top:19px;
    font-size:18px;
    font-weight:bold;
}

.testimonials .item p a{
    color:#f3f8fc !important;
}

.testimonials h2{
    margin-top:10px;
    margin-bottom:36px;
}

.testimonials .item .glyphicon{
    color:#e4f0fc;
    border-color:currentcolor;
    padding:7px;
    margin-right:10px;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    margin-top:-4px;
}

.subscribe{
    padding-top:60px;
    padding-bottom:40px;
}

.subscribe h2{
    margin-bottom:40px;
}

.subscribe p{
    max-width:480px;
    margin:0 auto 50px;
    text-align:center;
}

.subscribe p.status{
    margin-bottom:0;
}

.subscribe form{
    max-width:480px;
    margin:20px auto;
    display:block;
}

.purchase p.support{
    margin-bottom:50px;
}

.text-muted
{
    color: #1e430a;
}
.redText
{
    color: #e95a44;
}
#homePageBtn
{
    display: table;
    position: fixed;
    right: 40px;
    bottom: 20px;
}
#homePageBtn a
{
    border-radius: 10px;
}
@media (max-width:767px) {
    .purchase .item{
        padding-left:0 !important;
    }
    section{
        margin:40px auto;
    }
}
@media (max-width:991px) {
    .elemCenter
    {
        margin: 0 auto;
    }
    .try-section{
        text-align:center;
    }
    .try-section p{
        margin:0 auto;
    }
    .footer div{
        text-align:center !important;
    }
    footer .row div{
        text-align:center !important;
    }
}
@media (min-width:991px) {
    .elemCenter
    {
        margin: 0 auto;
    }
    .features .left div:first-child img{
        float:right;
        margin-right:40px;
    }
}

@media (min-width:929px) {
    .elemCenter
    {
        margin: 0 auto;
    }
    .more-features h3{
        text-align:right;
    }
}

@media (min-width:992px) {
    .elemCenter
    {
        margin: 0 auto;
    }
    .features .feature{
        margin-bottom:140px !important;
    }
    .features .right div:first-child{
        text-align:right !important;
    }
    .features .feature div:last-child{
        margin-top:60px;
    }
    .try-section .row div:first-child{
        text-align:right;
    }
    .features .right img{
        margin-left:30px;
    }
    .features .right div:last-child{
        text-align:right;
    }
}
