<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user}}</strong>
                                    <!-- <strong class="font-bold">{{main.user}}</strong> -->
                             </span>
                                <span class="text-muted text-xs block">{{position}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ng-click="main.logout($event)">Logout</a></li>
                        <li><a ui-sref="cog-developers.update({id:userID})">Profile</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ng-class="{active: $state.includes('cog-home')}">
                <a ui-sref="cog-home.main"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li ng-if="positionID != 3 && organizationID == 1" ng-class="{active: $state.includes('cog-admin')}">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">Manage App</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href=""><i class="fa fa-globe"></i> Organization<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li ui-sref-active="active"><a ui-sref="cog-admin.organizations"><i class="fa fa-eye"></i> View</a></li>
                            <li ui-sref-active="active"><a ui-sref="cog-admin.organizations-add({page: 'manage'})"><i class="fa fa-plus-circle"></i> Add</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-users"></i> Users / Developers<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li ui-sref-active="active"><a ui-sref="cog-admin.developers({page: 'manage'})"><i class="fa fa-eye"></i> View</a></li>
                            <!-- <li><a href=""><i class="fa fa-plus-circle"></i> Add</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-file"></i> Files<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li ui-sref-active="active"><a ui-sref="cog-admin.files({project: 'all',page: 'manage'})"><i class="fa fa-eye"></i> View</a></li>
                            <!-- <li><a href=""><i class="fa fa-plus-circle"></i> Add</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-folder"></i> Projects<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li ui-sref-active="active"><a ui-sref="cog-admin.projects({page: 'manage'})"><i class="fa fa-eye"></i> View</a></li>
                            <!-- <li ui-sref-active="active"><a ui-sref="cog-admin.projects-add({page: 'manage'})"><i class="fa fa-plus-circle"></i> Add</a></li> -->
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('cog-files-add.add')}">
                <a ui-sref="cog-files-add.add"><i class="fa fa-file"></i> <span>New File</span></a>
            </li>
            <li ng-class="{active: $state.includes('cog-files')}">
                <a ui-sref="cog-files.active({project: 'all',page: 'user'})"><i class="fa fa-files-o"></i> <span>Personal Files</span></a>
            </li>
            <li ng-class="{active: $state.includes('cog-projects')}">
                <a href="#"><i class="fa fa-folder"></i> <span class="nav-label">Projects </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('cog-projects')}">
                    <li ui-sref-active="active"><a ui-sref="cog-projects.active({page: 'user'})"><i class="fa fa-eye"></i> View</a></li>
                    <li ng-if="positionID != 3 || organizationID <= 2" ui-sref-active="active"><a ui-sref="cog-projects.add"><i class="fa fa-plus-circle"></i> Add</a ui-sref="cog-projects.active"></li>
                </ul>
            </li>
            
            <li ng-if="positionID != 3 || organizationID < 2" ng-class="{active: $state.includes('cog-developers')}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">User / Developers </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('cog-developers')}">
                    <li ui-sref-active="active"><a ui-sref="cog-developers.active({page: 'user'})"><i class="fa fa-eye"></i> View</a></li>
                    <li ui-sref-active="active"><a ui-sref="cog-developers.add"><i class="fa fa-plus-circle"></i> Add</a ui-sref="cog-developers.active"></li ui-sref-active="active">
                </ul>
            </li>
            <li ng-class="{active: $state.includes('tasks')}" ng-if="organizationID != 2">
                <a ui-sref="tasks.todo"><i class="fa fa-edit"></i> <span>Task</span></a>
            </li>
            <li ng-class="{active: $state.include('pods-what-nots')}">
                <a ui-sref="pods-what-nots.main"><i class="fa fa-code"></i> <span>Pods / What-Nots</span></a>
            </li>
        </ul>

    </div>
</nav>