.loader-wrap img
{
    width: 25px;
    height: 25px;
}
.loading-indicator-title
{
    margin-bottom: 0;
    font-weight: bold !important;
}
.btn-icon
{
    cursor: pointer;
}
.large-font {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.667;
}

.large-font {
    line-height: 1.44;
}

.biggest-font {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.667;
}
.show-default
{
    display: block;
}
.hide-default
{
    display: none;
}
.app-ibox .dropdown-toggle
{
    color: #676a6c
}
.app-ibox .ibox-content
{
    padding: 0;
}
.app-ibox .contact-box.center-version
{
    padding: 0;
    border: none;
}
#section-cogworks-files .contact-box
{
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}
#section-cogworks-files .contact-box .contact-box-footer
{
    padding: 15px;
}
.center-element
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.cog-image-preview-thumbnail img
{
    margin-left: auto;
    margin-right: auto;
    display: table;
    max-width: 150px;
    height: auto;
}

@media screen and (max-width: 1023px) {
    .biggest-font {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .large-font {
        font-size: 16px;
    }
    .biggest-font {
        font-size: 20px;
    }
}
