.loader-wrap img
{
    width: 25px;
    height: 25px;
}
.loading-indicator-title
{
    margin-bottom: 0;
    font-weight: bold !important;
}
.btn-icon
{
    cursor: pointer;
}
.large-font {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.667;
}

.large-font {
    line-height: 1.44;
}

.biggest-font {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.667;
}
.show-default
{
    display: block;
}
.hide-default
{
    display: none;
}
.app-ibox .dropdown-toggle
{
    color: #676a6c
}
.app-ibox .ibox-content
{
    padding: 0;
}
.app-ibox .contact-box.center-version
{
    padding: 0;
    border: none;
}
#section-cogworks-files .contact-box
{
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}
#section-cogworks-files .contact-box .contact-box-footer
{
    padding: 15px;
}
.center-element
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.cog-image-preview-thumbnail img
{
    margin-left: auto;
    margin-right: auto;
    display: table;
    max-width: 150px;
    height: auto;
}
#tasks-home ul li
{
    display: none;
}
#tasks-home ul li:nth-child(1),
#tasks-home ul li:nth-child(2),
#tasks-home ul li:nth-child(3)
{
    display: block;
}
.ibox-loading-indicator,
.ibox-saving-loading-indicator,
.ibox-todo-users-loading-indicator
{
    font-weight: normal;
    font-size: small;
    color: #676a6c
}
.ibox-saving-loading-indicator.text-danger
{
    color: #ed5565;
}
.ibox-loading-indicator-loding-icon,
.ibox-saving-loading-indicator-loding-icon,
.ibox-todo-users-loading-indicator-loding-icon
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.tasks-heading
{
    display: inline-block;
}
.ibox-loading-indicator,
.ibox-saving-loading-indicator
{
    display: none;
}
.ibox-sub-title {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.task-edit-wrap,
.task-priority-wrap
{
    display: none;
}
.m-l-15 {
    margin-left: 15px;
}
.m-t-b-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.p-t-b-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pods-what-nots-row .m-l-15 {
    margin-left: 15px !important;
}
.pods-what-nots-row {
    display: table;
    width: 100%;
}
#pods-section .pods-row {
    margin-bottom: 20px;
}
#pods-section .pods-row:last-child {
    margin-bottom: 0;
}
#pods-section .pods-what-nots-row:nth-child(even),
#what-nots-section .row:nth-child(even) {
    background-color: #f7f7f7;
}
.ui-autocomplete {
    list-style: none;
    margin-left: 0;
    padding: 5px;
    background-color: #fff;
    width: 200px;
}
.img-profile-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-profile-wrap img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    max-width: 250px;
}
.cog-dev-profile-position {
    font-weight: bold;
}
.cog-dev-profile-info {
    margin-top: 20px;
}
.cog-dev-profile-wrap small{
    font-weight: bold;
}
.cog-dev-profile-wrap {
    margin-bottom: 20px;
}
.cog-dev-profile-wrap:last-child {
    margin-bottom: 0;
}
.item-deleted {
    position: relative;
    /* background-color: #d55f5f;
    color: #fff; */
}
/* .item-deleted .contact-box.center-version > a {
    background-color: transparent;
} */
.item-deleted::before {
    background-image: url(../img/text-messages/deleted.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 20%;
    display: block;
    width: 100%; 
    height: 100%;
    content:"";
    position: absolute;
}
.inactive .contact-box.center-version > a {
    background-image: url(../img/background/bg-deleted.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.inactive-org .contact-box.center-version > a {
    background-image: url(../img/background/bg-caution.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.org-info-img-wrap {
    text-align: center;
}
.org-info-img-wrap img {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.inline-element {
    display: inline-block;
}
.min-padding-t-b {
    padding-top: 15px;
    padding-bottom: 15px;
}
#section-cogworks-add .panel-body {
    max-height: 300px;
    overflow-y: auto;
}
.template-item-row {
    display: flex;
}
.template-item-wrap {
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    align-items: flex-start;
}
.template-item-check {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 2em;
    color: #8CC74F;
    background-color: #fff;
    border-radius: 500px;
    padding: 1px 3px;
    display: none;
}
.template-item-image img {
    width: 100px;
    height: auto;
}
.template-item.selected .template-item-check {
    display: block;
}
.template-item-name {
    text-align: center;
}
/* .item-deleted .contact-box.center-version > a img {
    opacity: 0.5;
} */

@media screen and (max-width: 1023px) {
    .biggest-font {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .large-font {
        font-size: 16px;
    }
    .biggest-font {
        font-size: 20px;
    }
}
