.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}

.hero{
  background-color: transparent;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
  display:inline-block;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
    .phone-preview
    {
        padding-bottom: 30px;
    }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
    .phone-preview
    {
        padding-bottom: 30px;
    }
}

img.logo{
  display:inline-block;
  position:relative;
  margin-right:10px;
  line-height:1.4;
  margin-top:-10px;
  padding-top:0;
}

a.navbar-brand.navbar-link{
  padding-top:1px;
}

a.navbar-brand.navbar-link{
}

h1.logo{
  display:inline-block;
  color:#594c50;
  font-family:'Lato';
  font-size:25px;
  line-height:.3;
}

ul.nav.navbar-nav.navbar-right.demoBtn:hover{
  border-radius:5px;
  background-color:#68aaa2;
  transition:all 0.3s ease-in-out 0s;
}

ul.nav.navbar-nav{
  border-radius:5px;
  background-color:#65585c;
}

ul.nav.navbar-nav.navbar-right.demoBtn:focused{
  border-radius:5px;
  background-color:blue;
}

ul.nav.navbar-nav.navbar-right.demoBtn{
  height:40px;
  margin-top:5px;
}

.navbar-default .navbar-nav > li > a:hoover{
  color:white;
  line-height:.8;
  font-family:'Lato';
  font-size:14px;
}

.navbar-default .navbar-nav > li > a{
  color:white;
  line-height:.8;
  font-family:'Lato';
  font-size:14px;
}

.navbar-default .navbar-nav > li > a:hover{
  color:white;
  line-height:.8;
  font-family:'Lato';
  font-size:14px;
}

.navbar-default .navbar-nav > li > a :hoover{
  color:white;
  line-height:.8;
  font-family:'Lato';
  font-size:14px;
}

img.professor{
  margin-top:35px;
}

body{
  background-color: transparent;
}

ol#portfilioCarousel-dots.carousel-indicators{
  bottom:-45px;
}

h2#header1{
  color:white;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:20px;
  margin-top:5px;
}

h2#header1.title{
  color:#e95a44;
  font-size:38px;
}

h2.title{
  color:#e95a44;
  font-size:32px;
  margin-bottom:0;
  margin-top:0;
}

.carousel-indicators .active{
  background-color:#e95a44;
  border-color:#e95a44;
}

.carousel-indicators li{
  background-color:#fff;
}

div#carousel-1.carousel.slide{
  margin-bottom:40px;
}

div.jumbotron.hero{
  padding-bottom:20px;
}

