<div id="section-developers" ng-controller="cogDevelopersCtrl as developer">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Developers <span class="pull-right">Total: {{developer.activeDevelopers.length}}</span></h2>
            <div class="pull-left">
                <button ng-click="developer.orderByName($event)" type="button" class="btn btn-xs btn-link">Name</button> |
                <button ng-click="developer.orderByPosition($event)" type="button" class="btn btn-xs btn-link">Position</button>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <section-loader-indicator text="Preparing to show all active Developers" object="developer.activeDevelopers" ng-if="developer.activeDevelopers === undefined || developer.activeDevelopers.error !== undefined"></section-loader-indicator>
        <section-data-empty text="Records for Active Developers are Empty." ng-if="developer.activeDevelopers !== undefined && developer.activeDevelopers === null"></section-data-empty>
        <div ng-if="developer.activeDevelopers !== undefined && developer.activeDevelopers.error === undefined">
            <div class="row" ng-repeat="item in developer.activeDevelopers" ng-if="$index % 4 == 0">
                <div class="col-md-3" ng-if="developer.activeDevelopers[$index] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-id="{{developer.activeDevelopers[$index].id}}" ng-click="developer.view($event)">Profile</a></li>
                                    <li><a data-id="{{developer.activeDevelopers[$index].id}}" ng-click="developer.update($event)">Update</a></li>
                                    <li ng-if="developer.activeDevelopers[$index].status == '1'"><a data-id="{{developer.activeDevelopers[$index].id}}" ng-click="developer.remove($event)">Remove</a></li>
                                    <li ng-if="developer.activeDevelopers[$index].status == '2'"><a data-id="{{developer.activeDevelopers[$index].id}}" ng-click="developer.restore($event)">Restore</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content{{(developer.activeDevelopers[$index].status == '2') ? ' item-deleted' : ''}}">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="img-circle" ng-src="{{developer.activeDevelopers[$index].image}}">
                                    <div class="font-bold">{{developer.activeDevelopers[$index].position}}</div>
                                    <div class="font-bold">{{developer.activeDevelopers[$index].user}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-if="developer.activeDevelopers[$index + 1] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-id="{{developer.activeDevelopers[$index + 1].id}}" ng-click="developer.view($event)">Profile</a></li>
                                    <li><a data-id="{{developer.activeDevelopers[$index + 1].id}}" ng-click="developer.update($event)">Update</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 1].status == '1'"><a data-id="{{developer.activeDevelopers[$index + 1].id}}" ng-click="developer.remove($event)">Remove</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 1].status == '2'"><a data-id="{{developer.activeDevelopers[$index + 1].id}}" ng-click="developer.restore($event)">Restore</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content{{(developer.activeDevelopers[$index + 1].status == '2') ? ' item-deleted' : ''}}">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="img-circle" ng-src="{{developer.activeDevelopers[$index + 1].image}}">
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 1].position}}</div>
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 1].user}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-if="developer.activeDevelopers[$index + 2] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-id="{{developer.activeDevelopers[$index + 2].id}}" ng-click="developer.view($event)">Profile</a></li>
                                    <li><a data-id="{{developer.activeDevelopers[$index + 2].id}}" ng-click="developer.update($event)">Update</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 2].status == '1'"><a data-id="{{developer.activeDevelopers[$index + 2].id}}" ng-click="developer.remove($event)">Remove</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 2].status == '2'"><a data-id="{{developer.activeDevelopers[$index + 2].id}}" ng-click="developer.restore($event)">Restore</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content{{(developer.activeDevelopers[$index + 2].status == '2') ? ' item-deleted' : ''}}">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="img-circle" ng-src="{{developer.activeDevelopers[$index + 2].image}}">
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 2].position}}</div>
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 2].user}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-if="developer.activeDevelopers[$index + 3] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-id="{{developer.activeDevelopers[$index + 3].id}}" ng-click="developer.view($event)">Profile</a></li>
                                    <li><a data-id="{{developer.activeDevelopers[$index + 3].id}}" ng-click="developer.update($event)">Update</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 3].status == '1'"><a data-id="{{developer.activeDevelopers[$index + 3].id}}" ng-click="developer.remove($event)">Remove</a></li>
                                    <li ng-if="developer.activeDevelopers[$index + 3].status == '2'"><a data-id="{{developer.activeDevelopers[$index + 3].id}}" ng-click="developer.restore($event)">Restore</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content{{(developer.activeDevelopers[$index + 3].status == '2') ? ' item-deleted' : ''}}">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="img-circle" ng-src="{{developer.activeDevelopers[$index + 3].image}}">
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 3].position}}</div>
                                    <div class="font-bold">{{developer.activeDevelopers[$index + 3].user}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>