<div id="tasks-home">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title" style="margin-bottom: 15px">
                    <h5>Tasks</h5>
                    <a class="btn btn-primary btn-xs pull-right"><i class="fa fa-tasks"></i>&nbsp;&nbsp;&nbsp;Visit Page</a>
                </div>
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>To-do</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable ng-not-empty" ng-model="todoList">
                                <li class="warning-element ui-sortable-handle">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail ng-binding">
                                        <a href="#" class="pull-right btn btn-xs btn-white ng-binding">Mark</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>In Progress</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable ng-not-empty" ng-model="todoList">
                                <li class="warning-element ui-sortable-handle">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail ng-binding">
                                        <a href="#" class="pull-right btn btn-xs btn-white ng-binding">Mark</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>Completed</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable ng-not-empty" ng-model="todoList">
                                <li class="warning-element ui-sortable-handle">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail ng-binding">
                                        <a href="#" class="pull-right btn btn-xs btn-white ng-binding">Mark</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>