<div id="tasks-home" ng-controller="tasksCtrl as tasks">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title" style="margin-bottom: 15px">
                    <h5>Tasks</h5>
                    <a ui-sref="tasks.todo" class="btn btn-primary btn-xs pull-right"><i class="fa fa-tasks"></i>&nbsp;&nbsp;&nbsp;Visit Page</a>
                </div>

                <section-loader-indicator text="Preparing to show all Tasks" object="tasks.todo" ng-if="tasks.todo === undefined || tasks.todo.error !== undefined"></section-loader-indicator>
                <section-data-empty text="Tasks are Empty." ng-if="tasks.todo !== undefined && tasks.todo === null"></section-data-empty>

                <div class="row" ng-if="tasks.todo !== undefined && tasks.todo !== null">
                    <div class="col-md-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>To-Do <span class="pull-right">{{tasks.todo.todoCount}}</span></h3>
                                <p ng-if="tasks.todo.todo === false">Data is Empty</p>
                                <ul ng-if="tasks.todo.todo !== false" ui-sortable="" class="sortable-list agile-list" ng-model="tasks.todoList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in tasks.todoList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>In Progress <span class="pull-right">{{tasks.todo.inProgressCount}}</span></h3>
                                <p ng-if="tasks.todo.inProgress === false">Data is Empty</p>
                                <ul ng-if="tasks.todo.inProgress !== false" ui-sortable="" class="sortable-list agile-list" ng-model="tasks.inProgressList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in tasks.inProgressList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Completed <span class="pull-right">{{tasks.todo.completedCount}}</span></h3>
                                <p ng-if="tasks.todo.completed === false">Data is Empty</p>
                                <ul ng-if="tasks.todo.completed !== false" ui-sortable="" class="sortable-list agile-list" ng-model="tasks.completedList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in tasks.completedList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>