<div id="section-projects-cogworks-details" ng-controller="cogFilesDetailsCtrl as cogFileDetail">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Cog File Details <a ui-sref="cog-projects.active" class="btn btn-primary btn-xs pull-right"><i class="fa fa-folder"></i> Projects</a></h2>
        </div>
    </div>
    <section-loader-indicator text="Preparing to show file Details" object="cogFileDetail.details" ng-if="cogFileDetail.details === undefined || cogFileDetail.details.error !== undefined"></section-loader-indicator>
    <section-data-empty text="No data retrieved." ng-if="cogFileDetail.details !== undefined && cogFileDetail.details === null"></section-data-empty>
    <section-cogworks-files-details></section-cogworks-files-details>
</div>