<div id="section-projects-cogworks-files" ng-controller="cogFilesCtrl as cogFile">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2><span ng-if="cogFile.projID != 'all' && cogFile.cogProj !== undefined">{{cogFile.cogProj}}: </span>Cog Files <span class="pull-right">Total: {{(cogFile.activeFiles.length > 0 ? cogFile.activeFiles.length : 0)}}</span></h2>
            <div class="pull-left">
                <button ng-click="cogFile.orderByName($event)" type="button" class="btn btn-xs btn-link">Name</button> |
                <span ng-if="cogFile.projID != 'all' && cogFile.cogProj === null"><button ng-click="cogFile.orderByProject($event)" type="button" class="btn btn-xs btn-link">Project</button> |</span>
                <button ng-click="cogFile.orderByUpdated($event)" type="button" class="btn btn-xs btn-link">Updated</button> |
                <button ng-click="cogFile.orderByCreated($event)" type="button" class="btn btn-xs btn-link">Created</button>
            </div>
            <div class="pull-right">
                <a ui-sref="cog-projects.active" class="btn btn-primary btn-xs pull-right"><i class="fa fa-folder"></i> Projects</a></h2>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <section-loader-indicator text="Preparing to show all Cog Files" object="cogFile.activeFiles" ng-if="cogFile.activeFiles === undefined || cogFile.activeFiles.error !== undefined"></section-loader-indicator>
        <section-data-empty text="Records for Cog Files are Empty." ng-if="cogFile.activeFiles !== undefined && cogFile.activeFiles === null"></section-data-empty>
    
        <div ng-if="cogFile.activeFiles !== undefined && cogFile.activeFiles.error === undefined">
            <div class="row section-thumbnail show-default" ng-repeat="item in cogFile.activeFiles" ng-if="$index % 4 == 0">
                <div class="col-md-3" ng-if="cogFile.activeFiles[$index] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-code="{{cogFile.activeFiles[$index].code}}" ng-click="cogFile.open($event)">Open</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index].id}}" ng-click="cogFile.details($event)">Details</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index].id}}" ng-click="cogFile.clone($event)">Clone</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index].id}}" ng-click="cogFile.update($event)">Update</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index].id}}" ng-click="cogFile.remove($event)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="" ng-src="{{cogFile.activeFiles[$index].image}}">
                                    <div class="font-bold">{{cogFile.activeFiles[$index].cogfile}}</div>
                                    <div class="font-bold">{{cogFile.activeFiles[$index].project}}</div>
                                    <div class="font-bold">Updated - {{cogFile.activeFiles[$index].updated}}</div>
                                    <div class="font-bold">Created - {{cogFile.activeFiles[$index].created}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" ng-if="cogFile.activeFiles[$index + 1] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-code="{{cogFile.activeFiles[$index + 1].code}}" ng-click="cogFile.open($event)">Open</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 1].id}}" ng-click="cogFile.details($event)">Details</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 1].id}}" ng-click="cogFile.clone($event)">Clone</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 1].id}}" ng-click="cogFile.update($event)">Update</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 1].id}}" ng-click="cogFile.remove($event)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="" ng-src="{{cogFile.activeFiles[$index + 1].image}}">
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 1].cogfile}}</div>
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 1].project}}</div>
                                    <div class="font-bold">Updated - {{cogFile.activeFiles[$index + 1].updated}}</div>
                                    <div class="font-bold">Created - {{cogFile.activeFiles[$index + 1].created}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" ng-if="cogFile.activeFiles[$index + 2] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-code="{{cogFile.activeFiles[$index + 2].code}}" ng-click="cogFile.open($event)">Open</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 2].id}}" ng-click="cogFile.details($event)">Details</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 2].id}}" ng-click="cogFile.clone($event)">Clone</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 2].id}}" ng-click="cogFile.update($event)">Update</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 2].id}}" ng-click="cogFile.remove($event)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="" ng-src="{{cogFile.activeFiles[$index + 2].image}}">
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 2].cogfile}}</div>
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 2].project}}</div>
                                    <div class="font-bold">Updated - {{cogFile.activeFiles[$index + 2].updated}}</div>
                                    <div class="font-bold">Created - {{cogFile.activeFiles[$index + 2].created}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" ng-if="cogFile.activeFiles[$index + 3] !== undefined">
                    <div class="ibox app-ibox float-e-margins">
                        <div class="ibox-title">
                            <h5></h5>
                            <div class="ibox-tools dropdown" uib-dropdown="">
                                <a uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul uib-dropdown-menu="" class="dropdown-menu">
                                    <li><a data-code="{{cogFile.activeFiles[$index + 3].code}}" ng-click="cogFile.open($event)">Open</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 3].id}}" ng-click="cogFile.details($event)">Details</a></li>
                                    <li><a data-id="{{cogFile.activeFiles[$index + 3].id}}" ng-click="cogFile.clone($event)">Clone</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 3].id}}" ng-click="cogFile.update($event)">Update</a></li>
                                    <li ng-if="positionID != 3 || organizationID <= 2"><a data-id="{{cogFile.activeFiles[$index + 3].id}}" ng-click="cogFile.remove($event)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="contact-box center-version">
                                <a>
                                    <img alt="image" class="" ng-src="{{cogFile.activeFiles[$index + 3].image}}">
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 3].cogfile}}</div>
                                    <div class="font-bold">{{cogFile.activeFiles[$index + 3].project}}</div>
                                    <div class="font-bold">Updated - {{cogFile.activeFiles[$index + 3].updated}}</div>
                                    <div class="font-bold">Created - {{cogFile.activeFiles[$index + 3].created}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>